{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid">
    <!-- Adjust the column size as needed -->
            <h3 style='margin-top: 50px'> ALL ATTENDANCE <span><a class='btn btn-outline-success' href='{% url 'attendance' %}'><i class="fas fa-pen" ></i> Record New Attendance</a></span></h3><hr>
            <div class="row">
                <section style='background-color: white; padding: 15px; margin: 5px; border-radius: 12px; '>
                <div class="col-md-12"> 
                    
                    <table id="studentTable"  class="display">
                        <thead>
                            <tr>
                                <th> Year</th>
                                <th> Month </th>
                                <th> Date </th>
                                <th> Academic Year </th>
                                <th> Term </th>
                                <th> Student </th>
                                <th> Class </th>
                                <th> Check-In </th>
                                <th> Check-In By </th>
                                <th> Check-Out </th>
                                <th>Picked By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for std in attendance %}
                            <tr>
                                <td> {{std.year}}</td>
                                <td> {{std.month}}</td>
                                <td> {{std.date}}</td>
                                <td> {{std.academicYear}}</td>
                                <td> {{std.term}}</td>
                                <td>{{ std.student }}</td>
                                <td>{{ std.student.current_class }}</td>
                                <td>{{std.check_in_time }}</td>
                                <td>{{std.checkin_by }}</td>
                                <td>{{ std.check_out_time  }}</td>
                                <td>{{std.picked_by}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
              
        </div>
    </section>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>

<script>
$(document).ready(function() {
    $('#studentTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>
{% endblock %}
