<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School MS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'package/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycss/personal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycss/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycss/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <style>
      
    </style>
</head>
<body>
<!-- partial:index.partial.html -->
<header>
<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" checked/>
  <div id="nav-header"><a id="nav-title" href='#'>School MS</a>
    <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr/>
  </div>
  <div id="nav-content">
    <div class="nav-button"><i class="fas fa-home"></i><span><a href="{% url 'students' %}">Home</a></span></div>
    <div class="nav-button"><i class="fas fa-user-graduate"></i><span><a href="{% url 'allstudents' %}">Students</a></span></div>
    <div class="nav-button"><i class="fas fa-check"></i><span><a href="{% url 'attendance' %}"> Attendance </a></span></div>
    <hr/>
    <div class="nav-button"><i class="fas fa-heart"></i><span>Following</span></div>
    <div class="nav-button"><i class="fas fa-chart-line"></i><span>Trending</span></div>
    <div class="nav-button"><i class="fas fa-fire"></i><span>Challenges</span></div>
    <div class="nav-button"><i class="fas fa-magic"></i><span>Spark</span></div>
    <hr/>
    <div class="nav-button"><i class="fas fa-gem"></i><span>Codepen Pro</span></div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar"><img src=""/></div>
      <div id="nav-footer-titlebox"><a id="nav-footer-title" href="#" >morison</a><span id="nav-footer-subtitle">Admin</span></div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      <Lorem> contaact</Lorem>
    </div>
  </div>
</div>
<!-- partial -->
</header>


<main style='margin-left: 100px; margin-right: 40px'>
  {% block content %}

  {% endblock %}
</main>
<footer>
  <center><p> Created by Morison </p></center>
</footer>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jspdf.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% block js %}
{% endblock %}
<script src="{% static 'package/dist/sweetalert2.all.min.js' %}"></script>
</body>
</html>
