<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School MS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'package/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycss/personal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mycss/nav.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a class='logo' href='#'>
                        <img src='' alt=''>
                        <span class='nav-item'>School MS</span>
                    </a>
                </li>                
                <li>
                    <a class='aa' href='#'>
                        <i class='fas fa-home'></i>
                        <span class='nav-item'>Home</span>
                    </a>
                </li>
                <li class='logout'>
                    <a class='aa' href='#'>
                        <i class='fas fa-sign-out-alt'></i>
                        <span class='nav-item'>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main style='margin-left: 100px'>
        {% block content %}

        {% endblock %}
    </main>
    <footer style='margin-left: 100px; bottom:0;'>
        <center><p> Created by Morison </p></center>
    </footer>
    <script src="{% static 'package/dist/sweetalert2.all.min.js' %}"></script>
</body>
</html>
